html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #F0F0F0;
}

div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

h1 {
  font-size: 50px;
  padding-top: 30px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  padding: 0px;
  margin-top: -25px;
  margin-bottom: 80px;
  color: #7e7e7e;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 200;
}

a img {     
  border: 10px solid black;
  background-color: white;
  padding: 16px;
  width: 200px;
  height: 200px;
  flex-shrink: 4;
  filter: drop-shadow(6px 10px 12px #8e8e8e);
}

a:hover {
  font-weight: 400;
}

a:active {
  font-weight: 600;
}

img {
  margin: 20px;
}

a img:hover {
  filter: drop-shadow(6px 10px 10px #808080) invert(100%) ;
  border: 10px solid white;
  background-color: black;
}

.art {
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
}



@media only screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
    padding: 0px;
  } 
  .subtitle {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 25px;
    margin: 0px;
  }

  div {
  padding-top: 0px;
  padding-bottom: 0px;
  }
}